PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://haswanthk517_db_user:Reservation12345@<cluster-url>/reservation_db?retryWrites=true&w=majority
JWT_SECRET=RestaurantReservationSystem_2026_VeryStrongSecretKey_9xT4LmP8QaR7Hv2Nk5Zw
JWT_EXPIRES_IN=7d
CLIENT_ORIGIN=http://localhost:5173
